/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    graft configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
  executor = 'slurm'
  stageInMode = 'symlink'
  errorStrategy = 'retry'
  maxRetries = 1
  cpus = params.cpus ?: 4
  memory = params.memory ?: '16 GB'
  time = params.time_hrs ? "${params.time_hrs}h" : '24h'
  container = params.container ?: "${projectDir}/env/graft_1.0.0.sif"
}

executor {
  queueSize = params.queue_size ?: 50
  submitRateLimit = '10 sec'
}

singularity {
  enabled = true
  autoMounts = true
}

docker {
  enabled = false
}

conda {
  enabled = false
}
